a {
    text-decoration: none;
}

ul {
    list-style: none;
}

h3 {
    color: color(tertiary);
}

html {
    scroll-behavior: smooth;
    // scroll-snap-type: both mandatory;
}

body,
html {
    height: 100%;
}

body {
    display: grid;
    // place-content: center;
    // place-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
    max-width: 80em;
    color: color(quaternary);
    color-scheme: light dark;
    background-color: color(secondary);
    perspective: 1000px;


}