.card {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	// max-width: 18em;
	// width: 100%;
	// height: 26em;
	padding: 0.5em 1.5em;
	color: color(secondary);
	background-color: #d1a251;
	box-shadow: 0 0 1.5em 4px color(secondary), 0 0 0.2em 1em #39496e,
		inset 0 0 8px color(secondary);

	transform-style: preserve-3d;

	&:has(input:checked) {
		background-color: red;
	}

	&:hover {
		background-color: skyblue;
	}

	input {
		display: none;
	}

	header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0.3em 0.8em;
		margin-bottom: 0.5em;
		border-style: outset;
		border-color: #d5af99;
		border-block-end-color: #bd7a47;

		img {
			width: 1.4em;
			height: 1.4em;
			object-fit: contain;
			border-radius: 50%;
			border: 1px solid #facd7e;
		}
	}

	aside {
		display: flex;
		justify-content: end;
		gap: 0.2em;

		div {
			width: 1em;
			height: 1em;
			border-radius: 50%;
			background-color: red;
			box-shadow: inset 0 0 8px color(secondary);
		}
	}

	> div {
		display: grid;
		place-items: center;
		margin-bottom: 1em;
		margin-top: 0.2em;
		img {
			width: 13.5em;
			height: 13.5em;
			border: 0.4em outset;
			border-color: #d5af99;
			border-block-end-color: #bd7a47;
		}
	}

	figcaption {
		width: 100%;

		max-height: 5em;
		padding: 0.5em;
		background-color: #dbcaab;
		text-overflow: ellipsis;
		font-size: 0.8em;
		border-radius: 0.1em;
		box-shadow: 0 0 0 0.2em #6e3939, inset 0 0 1em #bd7a47;
		overflow: hidden;
	}

	footer {
		display: flex;
		justify-content: space-between;
		margin-top: 1em;

		p {
			font-size: 0.6em;
		}
	}
}

#container,
#carousel {
	position: relative;
	display: flex;
	margin: auto;
    -webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	transform: rotateX(-10deg);
    -webkit-transform: rotateX(-10deg);

	p {
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translate(-50%, -50%) rotateX(90deg);
	}
}


// #carousel { 
//     animation-name: spin;
//     animation-duration: 2s;
// animation-iteration-count: infinite;
// animation-timing-function: linear;
// }

#ground {
	width: 900px;
	height: 900px;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%, -50%) rotateX(90deg);
	background: -webkit-radial-gradient(
		center center,
		farthest-side,
		#9993,
		transparent
	);
}

@keyframes spin {
	from {
		transform: rotateY(0deg);
	}

	to {
		transform: rotateY(360deg);
	}
}

@keyframes spinRevert {
	from {
		transform: rotateY(360deg);
	}

	to {
		transform: rotateY(0deg);
	}
}
