.intro-text {
    display: grid;
    justify-content: flex-start;

    h1 {
        margin-bottom: 1em;
        max-width: 10em;
        text-align: left;
        font-size: 4.3rem;
        line-height: 5rem;

            @include respond-to(up-to-sm) {
                font-size: 3.2rem;
                line-height: 3.5rem;
            }

            @include respond-to(from-lg) {
                font-size: 5.3rem;
                line-height: 6rem;
            }
        span {
            display: inline-block;

            &:hover {
                color: color(hover);
            }

            &.last-letter {
                margin-right: .3em;
            }

        }
    }
}

.welcome {
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    place-content: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: color(secondary);
    transition: 1s;
    z-index: 10;

    div {
        display: grid;
        place-items: center;

        img {
                width: 20%;
                margin-bottom: 2em;
            }
        
        h1 {
            position: absolute;
            bottom: 20%;
            left: 50%;
            color: color(quaternary);
            transform: translate(-50%, -20%);
    
            span {
                position: relative;
                bottom: -1.2em;
                display: inline-block;
                opacity: 0;

                // &:nth-of-type(2n +2) {
                //     color: green;
                // }

                &.active {
                    bottom: 0;
                    opacity: 1;
                    transition: ease-in-out .5s;
                }
                
                &.fade {
                    bottom: 9.5em;
                    opacity: 1;
                    transition: ease-in-out .5s;
                }
    
                &:nth-of-type(2) {
                    margin-right: .6em;
                    color: green;
                }
            }
        }
    }



}

.intro-animation {
    div {
        background-color: red;
        width: 20em;
        height: 20em; 
    }

    @include respond-to(up-to-md) {
        display: none;
    }
}