.btn {
    width: 40%;
    padding: .8em;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    color: color(primary);
    background-color: color(tertiary);
    border: none;
    border-radius: 1em;

    &:focus-within {
        color: color(quaternary);
    }

    &:hover {
        background-color: color(hover);
        color: color(quaternary);
    }

    &:focus {
        background-color: color(focus);
    }

    &:active {
        background-color: color(active);
    }
}

h3 {
    color: color(tertiary);
}
body, html {
    height: 100%;
}

body {
    display: gird;
    place-content: center;
    place-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 5em;
    max-width: 80em;
    color: color(quaternary);
    color-scheme: light dark;
    background-color: #242424;
    scroll-behavior: smooth;
    scroll-snap-type: both mandatory;
    perspective: 1000px;
    transform-style: preserve-3d;
    overflow: hidden;
}

main {
    >section {
        margin: 6em 0;
        scroll-snap-align: center;
        
        h2 {
            text-align: center;
        }
    }
}

#home {
    width: 100%;
    height: auto;

    text-align: center;
    display: grid;
    grid-template-columns: 1.5fr .5fr;
    grid-template-rows: 1fr .1fr;
    gap: 1em;
    grid-template-areas:
    "Text animation"
    "click click";

    @include respond-to(up-to-md) {
        grid-template-columns: 1fr;
    }

    section {
        width:100%;

        &:first-of-type {
            grid-area: Text;
        } 
        
        &:last-of-type {
            grid-area: animation;
        }
    }

    > div {
        position: relative;
        height: 3em;
        margin: 7em 0;
        grid-area: click;
    }
}

#about {
    h2{
        margin-bottom: 2em;
    }

    #myCanvasContainer {
        width: 30em;
            @include respond-to(up-to-md) {
                text-align: center;
            }
    
            #myCanvas {
                margin: auto;
                width: 100%;
            }  
        }

    >div {
        display: flex;

    article {
        max-width: 50%;
    }
        div {
            display: flex;
            justify-content: space-between;

            &:last-of-type {
                    margin-bottom: 2em;
            }

         
        }
    }
}

.further {
    position: relative;
    color: inherit;

    p { 
        position: absolute;
        animation: Bounce 1s linear infinite alternate;

        &::before,
        &::after {
            content: "";
            position: absolute;
            bottom: -70%;
            left: -13%;
            width: 2.5em;
            height: .1em;
            background-color: color(quaternary);
            transform: rotate(25deg);
        }
        
        &::after {
            right: -13%;
            left: auto;
            transform: rotate(-25deg);
        }
    }
}

@keyframes Bounce-1 {
    70% {
            transform: rotate(25deg) translateY(0);
            width: 2.5em;
        }
    
        80% {
            transform: rotate(25deg) translateY(.9em);
            width: 2.9em;
        }
        100% {
            transform: rotate(25deg) translateY(0);
            width: 2.5em;
        }
    }
    
    @keyframes Bounce {
    from {
            transform: translateY(0);
        }
    
      
        to {
            transform:  translateY(1em);
        }
    }


@keyframes Bounce-2 {
    70% {
            transform: rotate(-25deg) translateY(0);
            width: 2.5em;
        }
    
        80% {
            transform: rotate(-25deg) translateY(.9em);
            width: 2.9em;
        }
    
        100% {
            transform: rotate(-25deg) translateY(0);
            width: 2.5em;
        }
    }
