* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Audiowide, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@import 'helpers/variables';
@import 'helpers/mixins';
@import 'helpers/function';
@import 'reset';
@import 'structure';
@import 'carousel';