@import '../../styles/global';

.scanner {
	position: relative;
	perspective: 62.5em;

	> div {
		&:first-of-type {
			position: absolute;
			top: 50%;
			left: 50%;

			height: 40em;
			width: 30em;
			padding: 2em;

			background-color: #39496e;
			border-radius: 0.8em 0.8em 0 0;
			border-style: outset;
			border-color: #1c2437;
			box-shadow: 0 0 0.62em #00000080, 0 0 0.9em #000000bf inset;

			transform-style: preserve-3d;
			transform-origin: center bottom;
			transform: translate(-50%, 30%) rotateX(90deg)
				translate3d(0, -15em, -0.8em);

			// Screen
			span {
				display: block;
				height: 90%;
				width: 100%;
				border-radius: inherit;
				border-style: outset;
				border: 0.3em solid color(secondary);
				box-shadow: inset 0 0 8em #4b7a8d, inset 0 0 2em color(secondary),
					0 -10em 34em 5.2em #4b7a8d;
				background-color: #00fff2;
				overflow: hidden;
				cursor: auto;

				&::before {
					content: '';
					position: absolute;
					bottom: 2.5em;
					width: 1.5em;
					height: 1.5em;
					border-radius: 50%;
					background-image: radial-gradient(
						at 40% 30%,
						#ff5050 10%,
						#ff0000 20%,
						#700101 60%
					);
					box-shadow: 0 0 0.4em color(secondary);
				}

				.scanLine {
					height: calc(100% - 2px);
					width: 100%;
					background: linear-gradient(
						180deg,
						rgba(0, 255, 51, 0) 43%,
						#00ff37 211%
					);
					border-bottom: 3px solid color(tertiary);
					transform: translateY(-100%);
				}

				table {
					position: absolute;
					width: 83%;
					height: 78%;
				}

				td {
					border: 0.06em dashed #003af841;
					position: relative;
					cursor: pointer;
					transition: background-color 150ms ease-in-out;

					&.dot:after {
						content: '•';
						position: absolute;
						top: -0.6em;
						left: -3.8px;
						font-size: 1.1em;
						color: #0e46fc81;
					}
				}
			}

			.screenText {
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: color(primary);
				height: 8%;
				width: 80%;
				margin-top: 0.9em;
				margin-left: auto;
				margin-right: auto;
				border-radius: 0.5em;
				border: 3px solid color(secondary);
				box-shadow: 0 0 0.62em rgba(0, 0, 0, 0.5019607843),
					0 0 1.5em color(secondary) inset,
					0 0 1.5em color(secondary) inset;
				font-size: 1.5em;
				cursor: context-menu;

				p {
					opacity: 0;
					transition: 1s;
				}
			}
		}

		&.scannerBottom {
			position: absolute;
			bottom: 50%;
			left: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 3em;
			width: 24.2em;

			color: #576ea5;
			border-style: outset;
			border-color: #1c2437;
			background-color: #29344e;
			box-shadow: 0 0 0.62em #00000080, 0 0 0.9em #000000bf inset;
			transform: translate(-50%, 45.7em);

			&::before {
				content: 'Select your card';
				position: absolute;
				bottom: 19em;
				left: 50%;
				max-width: 9em;
				color: transparent;
				text-align: center;
				-webkit-text-stroke: 0.06em color(tertiary);
				text-shadow: 0 0 1em color(highlight), 0 0 0.2em color(highlight);
				text-transform: uppercase;
				transform: translate(-50%, -50%) scale(2.5);
				animation: glitch 2.5s infinite;
				transition: 5s;
			}
		}
	}
}

@keyframes glitch {
	0% {
		transform: notranslate(-50%, -50%) scale(2.5) ne;
		opacity: 1;
	}

	7% {
		opacity: 0.75;
	}

	10% {
		transform: translate(-50%, -50%) scale(2.5);
		opacity: 1;
	}

	27% {
		transform: translate(-50%, -50%) scale(2.5);
		opacity: 1;
	}

	30% {
		transform: translate(-50%, -50%) scale(2.5) skew(0.8deg, -0.1deg);
		opacity: 0.75;
	}

	35% {
		transform: translate(-50%, -50%) scale(2.5);
		opacity: 1;
	}

	52% {
		transform: translate(-50%, -50%) scale(2.5);
		opacity: 1;
	}

	55% {
		transform: translate(-50%, -50%) scale(2.5) skew(-1deg, 0.2deg);
		opacity: 0.75;
	}

	50% {
		transform: translate(-50%, -50%) scale(2.5);
		opacity: 1;
	}

	72% {
		transform: translate(-50%, -50%) scale(2.5);
		opacity: 1;
	}

	75% {
		opacity: 0.75;
	}

	80% {
		opacity: 1;
	}

	100% {
		transform: translate(-50%, -50%) scale(2.5);
		opacity: 1;
	}
}