* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Audiowide, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

h3 {
	color: color(tertiary);
}

html {
	scroll-behavior: smooth;
	scroll-snap-type: both mandatory;
}

body,
html {
	height: 100%;
}

main {
	max-width: 1000px;
	padding: 0 1em;

	>section {
		position: relative;
		margin: 6em 0;
		scroll-margin: 4em;


		h2 {
			text-align: center;
		}
	}
}

::-webkit-scrollbar {
	width: 1em;
}

::-webkit-scrollbar-track {
	background: transparent;
	border-radius: .2em;
	border: .2em solid color(tertiary);
}

::-webkit-scrollbar-thumb {
	border-radius: .2em;
	background: color(primary);
}

::-webkit-scrollbar-thumb:hover {
	background: color(hover);
}