@import '../../styles/global';

.readMe {
    position: fixed;
    width: 40%;
    height: auto;
    padding: 1em;
    box-shadow: 0 0 1.5em 0.25em color(quaternary), 0 0 0.2em 1em color(tertiary),
        inset 0 0 15em 1.8em color(tertiary);
    opacity: 0;
    visibility: hidden;
    text-align: center;
    transform: scale(0.9);
    backdrop-filter: blur(1.5em);

    transition: all 0.3s;
    z-index: 10;

    article {
        overflow-x: hidden;
        overflow-y: scroll;
        max-height: 20em;
        padding: 1em;
        margin-top: 2em;
        text-align: left;

        h2,
        h3,
        h4 {
            margin: 0.5em 0;
        }
    }

    h1 {
        margin: 1em auto;
    }

    img {
        width: 70%;
        max-width: 18em;
        margin-bottom: 2em;
        margin-left: 11%;
        margin-right: 11%;
        object-fit: contain;
        border: 0.4em outset;
        border-color: skyblue;
        border-block-end-color: #517a8a;
    }

    a {
        color: dodgerblue;
        font-style: italic;

        &:focus-within {
            color: color(quaternary);
        }

        &:hover {
            color: color(hover);
        }

        &:focus {
            color: color(focus);
        }

        &:active {
            color: color(active);
        }
    }

    section {
        display: grid;
        gap: 2.5em;
        margin-top: 2em;
        padding: 1em;
        scrollbar-gutter: stable;

        div {
            display: grid;
            place-items: center;

            p {
                color: color(secondary);
                margin-bottom: 0.5em;
            }
        }
    }

    .close {
        position: absolute;
        top: 2%;
        right: 8%;
        font-size: 1.1em;
        letter-spacing: 0.05rem;
        color: inherit;
        text-shadow: 0.06em 0.06em 2px color(quaternary), 0 0 1em dodgerblue,
            0 0 0.2em skyblue;
        transition: all 0.4s;
        cursor: pointer;

        &:hover {
            color: color(hover);
        }
    }
}