@import './styles/global.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Audiowide, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
    position: relative;
    display: grid;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
    max-width: 80em;
    color: color(quaternary);
    color-scheme: light dark;
    background-color: color(secondary);
    perspective: 1000px;
}