* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.btn {
  width: 40%;
  padding: 0.8em;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  color: #1d1d1d;
  background-color: #08fdd8;
  border: none;
  border-radius: 1em;
}
.btn:focus-within {
  color: #FFFFFF;
}
.btn:hover {
  background-color: #e60de6;
  color: #FFFFFF;
}
.btn:focus {
  background-color: #e0113e;
}
.btn:active {
  background-color: darkblue;
}

h3 {
  color: #08fdd8;
}

body, html {
  height: 100%;
}

body {
  display: gird;
  place-content: center;
  place-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 5em;
  max-width: 80em;
  color: #FFFFFF;
  color-scheme: light dark;
  background-color: #242424;
  scroll-behavior: smooth;
  scroll-snap-type: both mandatory;
  perspective: 1000px;
  transform-style: preserve-3d;
  overflow: hidden;
}

main > section {
  margin: 6em 0;
  scroll-snap-align: center;
}
main > section h2 {
  text-align: center;
}

#home {
  width: 100%;
  height: auto;
  text-align: center;
  display: grid;
  grid-template-columns: 1.5fr 0.5fr;
  grid-template-rows: 1fr 0.1fr;
  gap: 1em;
  grid-template-areas: "Text animation" "click click";
}
@media screen and (max-width: 991px) {
  #home {
    grid-template-columns: 1fr;
  }
}
#home section {
  width: 100%;
}
#home section:first-of-type {
  grid-area: Text;
}
#home section:last-of-type {
  grid-area: animation;
}
#home > div {
  position: relative;
  height: 3em;
  margin: 7em 0;
  grid-area: click;
}

#about h2 {
  margin-bottom: 2em;
}
#about #myCanvasContainer {
  width: 30em;
}
@media screen and (max-width: 991px) {
  #about #myCanvasContainer {
    text-align: center;
  }
}
#about #myCanvasContainer #myCanvas {
  margin: auto;
  width: 100%;
}
#about > div {
  display: flex;
}
#about > div article {
  max-width: 50%;
}
#about > div div {
  display: flex;
  justify-content: space-between;
}
#about > div div:last-of-type {
  margin-bottom: 2em;
}

.further {
  position: relative;
  color: inherit;
}
.further p {
  position: absolute;
  animation: Bounce 1s linear infinite alternate;
}
.further p::before, .further p::after {
  content: "";
  position: absolute;
  bottom: -70%;
  left: -13%;
  width: 2.5em;
  height: 0.1em;
  background-color: #FFFFFF;
  transform: rotate(25deg);
}
.further p::after {
  right: -13%;
  left: auto;
  transform: rotate(-25deg);
}

@keyframes Bounce-1 {
  70% {
    transform: rotate(25deg) translateY(0);
    width: 2.5em;
  }
  80% {
    transform: rotate(25deg) translateY(0.9em);
    width: 2.9em;
  }
  100% {
    transform: rotate(25deg) translateY(0);
    width: 2.5em;
  }
}
@keyframes Bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(1em);
  }
}
@keyframes Bounce-2 {
  70% {
    transform: rotate(-25deg) translateY(0);
    width: 2.5em;
  }
  80% {
    transform: rotate(-25deg) translateY(0.9em);
    width: 2.9em;
  }
  100% {
    transform: rotate(-25deg) translateY(0);
    width: 2.5em;
  }
}
.intro-text {
  display: grid;
  justify-content: flex-start;
}
.intro-text h1 {
  margin-bottom: 1em;
  max-width: 10em;
  text-align: left;
  font-size: 4.3rem;
  line-height: 5rem;
}
@media screen and (max-width: 767px) {
  .intro-text h1 {
    font-size: 2.3rem;
    line-height: 3rem;
  }
}
@media screen and (min-width: 992px) {
  .intro-text h1 {
    font-size: 5.3rem;
    line-height: 6rem;
  }
}
.intro-text h1 span {
  display: inline-block;
}
.intro-text h1 span:hover {
  color: #e60de6;
}
.intro-text h1 span.last-letter {
  margin-right: 0.3em;
}

.intro-animation div {
  background-color: red;
  width: 20em;
  height: 20em;
}

.card {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  padding: 0.5em 1.5em;
  color: black;
  background-color: #d1a251;
  box-shadow: 0 0 1.5em 4px black, 0 0 0.2em 1em #39496e, inset 0 0 8px black;
  transform-style: preserve-3d;
}
.card:has(input:checked) {
  background-color: red;
}
.card:hover {
  background-color: skyblue;
}
.card input {
  display: none;
}
.card header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.3em 0.8em;
  margin-bottom: 0.5em;
  border-style: outset;
  border-color: #d5af99;
  border-block-end-color: #bd7a47;
}
.card header img {
  width: 1.4em;
  height: 1.4em;
  object-fit: contain;
  border-radius: 50%;
  border: 1px solid #facd7e;
}
.card aside {
  display: flex;
  justify-content: end;
  gap: 0.2em;
}
.card aside div {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: red;
  box-shadow: inset 0 0 8px black;
}
.card > div {
  display: grid;
  place-items: center;
  margin-bottom: 1em;
  margin-top: 0.2em;
}
.card > div img {
  width: 13.5em;
  height: 13.5em;
  border: 0.4em outset;
  border-color: #d5af99;
  border-block-end-color: #bd7a47;
}
.card figcaption {
  width: 100%;
  max-height: 5em;
  padding: 0.5em;
  background-color: #dbcaab;
  text-overflow: ellipsis;
  font-size: 0.8em;
  border-radius: 0.1em;
  box-shadow: 0 0 0 0.2em #6e3939, inset 0 0 1em #bd7a47;
  overflow: hidden;
}
.card footer {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}
.card footer p {
  font-size: 0.6em;
}

#container,
#carousel {
  position: relative;
  display: flex;
  margin: auto;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transform: rotateX(-10deg);
  -webkit-transform: rotateX(-10deg);
}
#container p,
#carousel p {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%) rotateX(90deg);
}

#ground {
  width: 900px;
  height: 900px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%) rotateX(90deg);
  background: -webkit-radial-gradient(center center, farthest-side, rgba(153, 153, 153, 0.2), transparent);
}

@keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
@keyframes spinRevert {
  from {
    transform: rotateY(360deg);
  }
  to {
    transform: rotateY(0deg);
  }
}
#root {
  max-width: 1480px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em rgba(100, 108, 255, 0.6666666667));
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em rgba(97, 218, 251, 0.6666666667));
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.read-the-docs {
  color: #888;
}

/*# sourceMappingURL=style.css.map */
